body {
  background-color: #E9EAED;
}

header {
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #1abc9c;
	color: #FFF;
	height: 135px;
  z-index: 9;
}

header h1 a {
  color: #E0E0E0;
}

header h1 a:hover {
  color: #FFF;
  text-decoration: none;
}

header div {
  color: #E0E0E0;
}

header div a {
  color: #FF9800;
}

header div a:hover {
  color: #FFC107;
  text-decoration: none;
}

.Stories {
	margin: 175px 25px;
}

.Story {
	background: #FFF;
	border: 10px solid #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
	position: relative;
	padding: 10px 10px 75px;
	margin-bottom: 100px;
  text-align: center;
	width: 100%;
}

@media only screen and (min-width: 650px) {

  .Story {
    width: 30%;
  }

  .Story--width2 {
    width: 65%;
  }
}

a {
  color: #2196F3;
}

.Story-Profile {
	width: 150px;
    height: 150px;
    background: #FFFFFF;
	border-radius: 50%;
	border: 10px solid #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
	position: absolute;
	bottom: -75px;
	left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.Story-Bio {
  color: #9C27B0;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.Story-Title--Handle {
  font-size: 14px;
  margin: -10px 0 10px;
}

.Story.grid-sizer {
	border: 0;
	box-shadow: none;
	padding: 0;
	margin: 0;
}

.gutter-sizer {
  width: 5%;
}

/* Github Corners */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}


/* form csss */

.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 input[type="file"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}
